/*Beginning of Header rules*/
header{
    position: sticky;
    top:0;
}

.herobanner {
    width : 100%;
    height: auto;
    z-index: -1;
    margin-bottom: 0;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    bottom: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.7px black;
}

/*End of header rules*/

body {
    background-color: black;
    position: relative;
    display: block;
    margin: 0,0,0,0;
}

.aboutme {
    width: 65%;
    height: auto;
    float: left;
    shape-outside: circle();
}

p {
    color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutmeinfo {
    margin-top: 0%;
    margin-bottom: 0%;
    /*background: rgb(255,161,248);
    background: linear-gradient(0deg, rgba(255,161,248,1) 0%, rgba(187,14,229,1) 100%);*/
}

.upcomingshows{
    width: 100%;
    /*background-color: pink;*/
    height:auto;
    margin-top: 0%;
    margin-bottom: 0%;
    /*background: rgb(255,161,248);
    background: linear-gradient(0deg, rgba(187,14,229,1) 0%, rgba(255,161,248,1) 100%);*/
}

.newshow{
    display: block;
    position: relative;
    z-index: -2;
    margin-top: 0%;
    margin-bottom: 0%;
}

.newshow p {
    margin-top: 0%;
    text-align: center;
    margin-bottom: 0%;
    background: rgb(255,161,248);
    background: linear-gradient(0deg, rgba(255,161,248,1) 0%, rgba(187,14,229,1) 100%);
}

.newshow img {
    margin-top: 0%;
    width: 100%;
    height: auto;
    margin-bottom: 0%;
}

/*beginning of footer rules*/
footer {
    position:fixed;
    bottom: 0;
    text-align: center;
     width: 100%;
     background-color:black ;
}

footer img {
    height: 30px;
    width: auto;
    padding-left: 7%;
    padding-right: 7%;
}
/*end of footer rules*/