/*Beginning of Header rules*/

header{
    position: sticky;
    top:0;
   
}

.herobanner {
    width : 100%;
    height: auto;
    z-index: -1;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    bottom: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 0.7px black;
}

/*End of header rules*/

body {
    background-color: black;
}

p {
    color: white;
}

/*beginning of footer rules*/
footer {
    position:fixed;
    bottom: 0;
    text-align: center;
     width: 100%;
     background-color:black ;
}

footer img {
    height: 30px;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
}
/*end of footer rules*/